*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    background-color: #e1f8fe;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
   
    justify-content: center;
    align-items: center; 
    align-content: center;
}
.left{
    flex: 1; 
    height: 100%;
}

.left img{
      display:block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    
}
.right{
    flex:1;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.heading h1{

    text-align: center;
    font-size: 40px;
}
.heading p{
    text-align: center;
    font-size: 20px;
    word-spacing: 3px;
    color:rgb(118, 127, 127);
    margin-top: 5px;
    margin-bottom: 5px;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 20px 30px;
    gap: 0.4rem;
    justify-content: space-around;
}
label{
    color: #64747d;
    margin-bottom: 5px;
    align-content:space-evenly;
}
input{
    height: 7vh;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    padding: 0px 20px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
}
a{
    text-decoration: none;
}

form > a{
    align-self: flex-end;
    color: rgb(118, 127, 127);
}

form > a:hover{
    color: blue;
}

button{
    height: 7vh;
    border: none;
    background-color: rgb(51, 112, 181);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
button:hover{
    background-color: blue;
}

form > p{
    align-self: center;
    margin-top: 40px;
    color: rgb(118, 127, 127);
}

form > p > a{
    color:  rgb(51, 175, 181);
}

form > p > a:hover{
    color: blue;
}