* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
}
ul {
  text-align: center;
  padding: 3vh;
}
li {
  display: inline;
  padding: 0.5vw;
}

ul > li > a {
  color: rgb(154, 146, 146);
  font-size: 20px;
}

.logo {
  color: black;
  font-size: 25px;
  float: inline-start;
  position: sticky;
  top: 0;
  left: 5vw;
  font-weight: 500;
}
.user {
  overflow: auto;
  color: #3ba2f6;
  background-color: #eaf5ff;
  float: inline-end;
  font-size: 16px;
  padding: 12px 24px; /* Generous padding for pill shape */
  border-radius: 16px;
  position: sticky;
  top: 0;
  right: 5vw;
}

nav ul li a:hover {
  color: black;
}

.left-container,.right-container{
    display: inline-block; /* Behaves inline, but allows width: 50% */
  width: 50%;
  vertical-align: top;
  min-height: 90vh;
}
.left-container{
    padding-left: 10%;
    padding-top: 10%;
    
  
}
.left-container> h1{
    font-size: 50px;
    color: rgb(97, 91, 91);
}
.left-container>h1>span{
    color:  rgb(69, 190, 238);
}
.left-container>pre{
    white-space: pre-line;
    font-size: 20px;
    word-spacing: 2px;
    color: #9aa5b1;
}
.left-container>button{
    font-size: 15px;
    background-color: rgb(69, 190, 238);
    color: white;
    border: 0;
    padding: 2vh 3vw;
    margin: 2vh auto;
    border-radius: 16px;
    cursor: pointer;

}
.left-container>button:hover{
    background-color: rgb(40, 151, 157);
}
.right-container{
   overflow: auto;

}
img{
    padding: 0;
    margin: 0;
    height: 80vh;
    width:50vw;
}
